@use "../utilities" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt {
  overflow-wrap: break-word;
}
