$primary: #1e3a87;
$secondary: #43bff0;

$grey: #444;
$white: #eee;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$font-default: "Noto Sans JP", sans-serif;
