.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  margin: 1.6rem 0;
  background-color: #4b4b4b;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }

  & h2 {
    color: #3a3a3a;
    font-size: 1.6rem;
    flex: 1;
    margin: 0 1.6rem;
    color: white;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.8rem;
    border-radius: 12px;
  }

  @media (min-width: 580px) {
    &__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    &__description h2 {
      font-size: 1.6rem;
    }

    &__price {
      font-size: 2rem;
      padding: 0.8rem 2.4rem;
    }
  }
}
